.login{
    position: fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login form{
    min-width:300px;
    min-height: 400px;
    background-color: #DDDDDD;
}
.login form label  {
    display: flex;
    justify-content: flex-start;
}
.login form span{
    width: 4em;
}
.login form input{
    outline: none;
    border:1px solid #DDDDDD;
    border-radius: 3px;
}
.login form input:focus{
    border:1px solid deepskyblue;
}
